<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-16by9 div_style">
        <video width="560" height="315" controls preload="metadata">
          <source src="{{site.baseurl}}/files/{{include.file_name}}#t=0.1" type="video/mp4">
            <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
              Voici <a href="{{site.baseurl}}/files/{{include.file_name}}">un lien pour télécharger la vidéo</a>.</p>
       </video>
      </div>
      <br/>
    </div>
  </div>
</div>
